CONFIG_SOC_ARM_FVP=y
CONFIG_BOARD_ARM_FVP=y
CONFIG_ARM_ARCH_TIMER=y
CONFIG_XIP=n

# QEMU settings
CONFIG_SRAM_BASE_ADDRESS=0x37200000
CONFIG_SRAM_SIZE=2048

# Enable UART driver
# CONFIG_SERIAL is not set
# CONFIG_SHARED_IRQ is not set

# Enable console
# CONFIG_CONSOLE is not set
# CONFIG_UART_CONSOLE is not set

# Enable serial port
# CONFIG_UART_PL011 is not set
# CONFIG_UART_PL011_PORT0 is not set
# CONFIG_UART_INTERRUPT_DRIVEN is not set
# CONFIG_SHARED_IRQ_0 is not set
# CONFIG_UART_PL011_PORT0_SHARED_IRQ is not set

CONFIG_NO_OPTIMIZATIONS=y

CONFIG_MINOS=y
CONFIG_DYNAMIC_INTERRUPTS=y

CONFIG_SHELL=y
CONFIG_SHELL_BACKEND_SERIAL=n
CONFIG_SHELL_BACKEND_VM=y
CONFIG_KERNEL_SHELL=y
CONFIG_DEVICE_SHELL=y
